@import "tailwindcss";

@theme {
    /* Common Color */
    --color-c-initial: #F83D1A;
    --color-c-final: #E7B001;
    --color-c-purple: #6902AC;
    --color-c-blue: #1DA1CC;

    /* Fonts */
    --font-sans: var(--font-inter);
    --font-mono: var(--font-noto-sans);

    /* Screens */
    --breakpoint-xxs: 0px;
    --breakpoint-xs: 360px;
    --breakpoint-sm: 480px;
    --breakpoint-msm: 540px;
    --breakpoint-lsm: 640px;
    --breakpoint-md: 720px;
    --breakpoint-lg: 960px;
    --breakpoint-xl: 1140px;
    --breakpoint-2xl: 1320px;
    --breakpoint-3xl: 1536px;

    /* Shadow */
    --shadow-3xl: 0px 1px 8px rgba(197, 198, 201, 0.4);
}

@layer utilities {
    button {
        @apply cursor-pointer;
    }

    .border-gradient {
        border-image: linear-gradient(to right, #f83b1a2e, white, white) 1;
    }
}